

h1, h2, h3 {
    text-align: center;
}

#header-div h1 {
    background-color: rgba(0, 0, 0, 1);
    margin-top: 0;
    padding: 1rem;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
    color: rgb(219, 219, 219);
}



#body-div, #article-div {
    margin: 0 3em;
}

#body-div p, #article-div p {
    text-indent: 2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px 12px;
}

th {
    text-align: center;
    font-weight: bold;
}

thead th {
    background-color: #2c3e50;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #cecece;
}

tbody tr:hover {
    background-color: #e6f0ff;
}

@media (max-width: 600px) {

    #header-div h1 {
        margin: 0;
        padding: 0;
        font-size: xx-large;
    }

    main {
        margin: 0;
    }

    #body-div {
        margin: 15px;
    }
}