

#before-after-stack {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    gap: 0;
}

.before-img, .after-img, .others {
    width: 33.33vw;
    max-width: 400px;
    height: auto;
    margin: 3px;
    border-radius: 15px;
}

#insert-befores, #insert-afters {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.others {
    margin: 10px;
}