html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    padding: 0;
    line-height: 1.6;
  }

  h1, h2, h3 {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    margin: 0.5em 0;
    color: #333;
  }
  
  header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    /* padding: 1em 2em; */
    width: 100%;
    margin: 0;
    height: auto;/*clamp(200px, 25vh, 400px);*/
    font-family: 'Figtree', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 1.25rem;
    background-image: url("/images/Mountain_Banner.svg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .logo {
    /* position: relative; */
    float: left;
    height: 4rem;
    width: auto;
    padding: 1rem 0 0 1rem;
    z-index: 2;
  }
  
  .site-title{
    font-size: clamp(1.5rem, 5vw, 3rem);
    clear: left;
    color: white;
    /* text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5); */
  }

  nav {
    padding-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  nav a {
    font-size: clamp(.75rem, 2vw, 2.5rem);
    color: white;
    margin: 0 1em;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: none;
    scale: (110%);
  }



  .header-text {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    align-self: center;
    z-index: 1;
  }


@media (max-width: 600px) {

  #hero {
    margin-top: 0;
    padding: 0;
  }

  header {
    position: relative;
    z-index: 10;
  }

  .header-text {
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }

  .toggle-button span {
    display: block;
    background-color: black;
    border-radius: 0.125em;
    width: 1.5em;
    height: 0.25em;
    margin-bottom: 0.25em;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .toggle-button span:last-child {
    margin-bottom: 0;
}

  .toggle-button.toggle span:first-child {
      transform: translate(0, 0.5em) rotate(45deg);
  }

  .toggle-button.toggle span:nth-of-type(2) {
      opacity: 0;
  }

  .toggle-button.toggle span:last-child {
      transform: translate(0px, -0.5em) rotate(-45deg);
  }

  

  #menu {
    z-index: 0;
    position: absolute;
    width: 100vw;
    background: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background: black;
    padding-left: 25px;


    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);

  }

  #menu.visible {
    opacity: 1;
    pointer-events: auto;

    transform: translateY(0);
  }
}

  .form-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%
}




  #hero {
    padding: 2em;
    background: #ecf0f1;
    text-align: center;
    margin: 0;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1em;
    padding: 0.7em 1.2em;
    background: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #22824a;
  }
  
  section {
    padding: 2em;
    text-align: center;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    text-align: left;
  }

  .two-rows {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    padding: 0;
    margin-left: 9%;
}

  @media (max-width: 600px) {
    ul {
      list-style-type: disc;
      padding-left: 0;
      text-align: left;
    }

    .two-rows {
      font-size: .85rem
    }

  }

  form label {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
  }
  
  hr {
    width: 50%;
  }

  footer {
    font-size: 16px;
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 1em;
  }