/* 
main {
    align-items: center;
    text-align: center;
} */
#centered-content {
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 0;
}

img {
    width: 20vw;
    max-width: 250px;
}

